<!DOCTYPE html>
<html>
<head>
    <title>Register</title>
</head>
<body>
    {% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, message in messages %}
      <div style="color:
        {% if category == 'error' %} red
        {% elif category == 'success' %} green
        {% endif %};">
        {{ message }}
      </div>
    {% endfor %}
   {% endif %}
  {% endwith %}

    <h2>Register</h2>
    <form method="POST">
        <input type="text" name="name" placeholder="Full Name"><br><br>
        <input type="email" name="email" placeholder="Email"><br><br>
        <input type="password" name="password" placeholder="Password"><br><br>
        <input type="submit" value="Register">
    </form>
</body>
</html>